<form class="myForm" autocomplete="off" [formGroup]="forma" (ngSubmit)="agregar()">

    <div class="row">
        <div class="column">
            <div class="input-group">
                <label for="customer_name">Nombre del paciente (o dueño) </label>
                <input id="customer_name" type="text" formControlName="nombre">
            </div>

            <fieldset class="prioridad" formControlName="gravedad">
                <legend>Parámetros de gravedad</legend>
                <label> <input type="checkbox" id="fractura" value="fractura"> Posible fractura </label>
                <label> <input type="checkbox" id="sangrado" value="sangrado"> Sangrado </label>
                <label> <input type="checkbox" id="paciente_inconciente" value="inconsciente"> Paciente Inconsciente </label>
                <label> <input type="checkbox" id="inmovilidad" value="inmovilidad"> Inmovilidad </label>
            </fieldset>

            <div class="input-group">
                <label for="customer_name">Edad </label>
                <div class="data-group">
                    <input id="customer_name" type="text">
                    <select id="pickup_place">
                        <option value="years">Años</option>
                        <option value="months" >Meses</option>
                        <option value="days" >Días</option>
                    </select>
                </div>
            </div>

            <div class="input-group">
                <label for="customer_name">Peso (en Kg) </label>
                <input id="customer_name" type="text" placeholder="Ej: 5">
            </div>
        </div>
        <div class="column">
            <div class="input-group">
                <label for="customer_name">Tipo de animal </label>
                <input id="customer_name" type="text" placeholder="Ej: Perro, Gato">
            </div>
            <div class="input-group">
                <label for="customer_name">Duración de la cita </label>
                <div class="data-group">
                    <input id="customer_name" type="text">
                    <select id="pickup_place">
                        <option value="minutos">Minutos</option>
                        <option value="horas" >Horas</option>
                    </select>
                </div>
            </div>

            <div class="input-group">
                <label for="msg">Descripción de síntomas</label>
                <textarea id="msg"></textarea>
            </div>
        </div>
    </div>

    <div class="row">

        <button id="submit">Agregar Paciente</button>

    </div>
</form>