<app-search [placeholder]="placeholder" [boton]="boton" (busqueda)=" obtenerBusqueda($event)"></app-search>
<app-filtros (filtroSelect)="obtenerPrioridad($event)"></app-filtros>
<h3>{{palabra}}</h3>
<div style="overflow-x:auto;">
    <table id="tabla">
        <tr>
            <th>Nombre</th>
            <th>Animal</th>
            <th>Prioridad</th>
            <th>Fecha</th>
            <th>Horario</th>
            <th>Opciones</th>
        </tr>
        <tr *ngFor="let paciente of pacientesFiltrados">
            <td>{{paciente.nombre}}</td>
            <td>{{paciente.tipo}}</td>
            <td>{{paciente.prioridad}}</td>
            <td>{{paciente.fecha}}</td>
            <td>{{paciente.duracionValor}} {{paciente.duracionMetrica}}</td>
            <td>
                <button (click)="verPaciente(paciente.idx)">Ver Paciente</button>
            </td>
        </tr>

    </table>
</div>