@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
body {
    font-family: 'Chelsea Market', cursive;
    font-weight: 500;
}

$azul-1: #8FD3E8;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $azul-1;
}